@model IEnumerable<CodeFirstData.Models.Datamodel>

@{
    ViewBag.Title = "Data Example:";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExampleFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExampleLastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExampleFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExampleLastName)
        </td>
    </tr>
}

</table>
